// custom theme variables
$dark-bg-main:    #0f172a; // Slate 900
$dark-bg-sub:     #1e293b; // Slate 800
$neon-blue:       #38bdf8; // Sky 400
$neon-green:      #34d399; // Emerald
$text-body:       #e2e8f0; // Slate 200
$dark:            #1b1e23ff;
$info-custom:     #05F2F2;

$font-inter: 'Inter', sans-serif;
$font-roboto-condensend: 'Roboto Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// $primary: #0a23d7;
// $dark: #00094e;
// $gray: #d2d5da;

// override bootstrap variables
// $primary:       $neon-blue;
$success:       $neon-green;
$info:          $info-custom;

$body-bg:       $dark-bg-main;
$body-color:    $text-body;

// dark mode
$enable-dark-mode: true;
$body-bg-dark:     $dark-bg-main;
$body-color-dark:  $text-body;

// custom styles
$headings-font-family: $font-inter;
$font-family-sans-serif: $font-roboto;
$card-bg: $dark;
$card-border-radius: 1rem;
$card-inner-border-radius: 1rem;
$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
