@use "sass:map";
@use "bootstrap/scss/functions" as *;
@use "bootstrap/scss/variables" as *;
@use "bootstrap/scss/variables-dark" as *;
@use "bootstrap/scss/maps" as *;
@use "bootstrap/scss/utilities" as *;

$primary: #0266dcff;
$secondary: #5a697fff;
$dark: #1b1e23ff;
$gray: #2d333fff;

$card-bg: $gray;
$card-border-radius: 1rem;
$card-inner-border-radius: 1rem;

$font-family-sans-serif: "Inter", sans-serif;
$headings-font-family: "Roboto Condensed", sans-serif;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary
  )
);

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          $all-colors
        ),
      ),
    ),
  )
);

.card {
  --#{$prefix}card-bg: #{$card-bg};
  --#{$prefix}card-border-radius: #{$card-border-radius};
  --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
}
