---
---

<div class="bg-body-tertiary">
  <div class="container">
    <footer class="py-3">
      <div class="row py-5">
        <div class="col-md-6">
          <article>
            <h3>Alex Cortes Garcia</h3>
            <h5 class="text-primary">Full Stack Developer</h5>
          </article>
          <ul class="nav list-unstyled d-flex fs-3">
            <li class="">
              <a
                class="text-muted cursor-pointer"
                target="_blank"
                href="https://github.com/AlexByte18"
              >
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>
            <li class="ms-3">
              <a
                class="text-muted"
                target="_blank"
                href="https://www.linkedin.com/in/alex-garcia-802683125/"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="ms-3">
              <a
                class="text-muted"
                target="_blank"
                href="https://codepen.io/your-work"
              >
                <ion-icon name="logo-codepen"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <article class="d-flex gap-3">
            <h3>Get in touch</h3>
            <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
          </article>
          <div class="row">
            <article class="col">
              <h5>EMAIL ME:</h5>
              <a href="">contatt@gmail.com</a>
            </article>
            <article class="col">
              <h5>CALL ME:</h5>
              <a href="">(951) 292 55 60</a>
            </article>
          </div>
        </div>
      </div>
      <div class="text-center border-top p-3">
        <span class="text-muted"
          >© 2025 &lt;DevAlex /&gt; <ion-icon name="heart"></ion-icon
        ></span>
      </div>
    </footer>
  </div>
</div>
