---
---

<section class="px-0 px-md-4 py-5 my-5 text-center">
  <span class="badge badge-neon rounded-pill px-3 py-2 mb-5">
    🟢 Disponible para nuevos retos <span class="d-none d-md-inline">| Web & Mobile</span>
  </span>
  <h1 class="display-5" data-aos="fade-up">Hola, soy Alex Garcia</h1>
  <h2
    class="display-2 text-info fw-bold my-3"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    Full Stack Developer
  </h2>
  <div class="col-12 col-lg-6 mx-0 mx-md-auto">
    <p class="mb-5 fs-5 text-white text-opacity-75" data-aos="fade-up" data-aos-delay="200">
      Apasionado por transformar requerimientos de negocio en sistemas simples y eficientes.
      <strong class="text-primary">Especialista en Laravel, NestJS, React/TS.</strong>
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
      <a
        class="btn btn-info btn-lg px-4"
        href="#contact"
      >
        Contáctame
      </a>
    </div>
  </div>
  <div class="mb-5">
    <div class="container px-5 text-center">
      <ul class="nav list-unstyled d-flex justify-content-center h1">
        <li class="">
          <a
            class="text-white"
            target="_blank"
            href="https://github.com/AlexByte18"
          >
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        <li class="ms-3">
          <a
            class="text-white"
            target="_blank"
            href="https://www.linkedin.com/in/alex-garcia-802683125/"
          >
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="ms-3">
          <a
            class="text-white"
            target="_blank"
            href="https://codepen.io/your-work"
          >
            <ion-icon name="logo-codepen"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
