---
import CardProject from './CardProject.astro';

const projects = [
  {
    title: 'Artisan App',
    description: 'Aplicación móvil para manejar la venta de productos, desarrollada con React Native y Expo.',
    tags: ['React Native', 'Tailwind'],
    image: 'https://images.pexels.com/photos/8761047/pexels-photo-8761047.jpeg',
    link: 'https://github.com/AlexByte18/artisan-app'
  },
  {
    title: 'Artisan API',
    description: 'Una API REST robusta creada con NestJS y TypeORM para gestionar productos, autenticación y mensajería en tiempo real con WebSockets.',
    tags: ['Nest.js', 'Typescript'],
    image: '/images/artisan-api-banner.png',
    link: 'https://github.com/AlexByte18/artisan-api'
  },
  {
    title: 'Artisan Dashboard',
    description: 'Panel de control administrativo moderno para la gestión de productos. Creado con React 19, TypeScript, Tailwind CSS y Vite.',
    tags: ['React', 'Radix UI', 'Zustand'],
    image: '/images/artisan-dashboard.png',
    link: 'https://github.com/AlexByte18/artisan-dashboard'
  },
];

---

<section class="container py-5">
  <div class="row mb-5">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center p-5">
      <h2 class="display-3 text-center mb-5">Recent works</h2>
      <CardProject project={projects[0]} />
    </div>

    <div class="col-6 p-5">
      <CardProject class="mb-5" project={projects[1]} />
      <CardProject project={projects[2]} />
    </div>
  </div>
</section>
