---
---

<section class="container py-5">
  <div class="row mb-5">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center p-5">
      <h2 class="display-3 text-center mb-5">Recent works</h2>
      <article
        class="spotlight-card card shadow text-white border-0 w-100"
      >
        <div
          class="card-header bg-transparent border-0 d-flex gap-2 justify-content-end pt-3 pb-0"
        >
          <h4 class="btn btn-sm btn-secondary m-0">React Native</h4>
          <h4 class="btn btn-sm btn-secondary m-0">Tailwind</h4>
        </div>
        <div class="card-body">
          <h2>Artisan App</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
        <img
          src="https://images.pexels.com/photos/8761047/pexels-photo-8761047.jpeg"
          class="card-img-bottom"
          alt="..."
        />
      </article>
    </div>

    <div class="col-6 p-5">
      <article
        class="spotlight-card card shadow text-white border-0 w-100 mb-5"
      >
        <div
          class="card-header bg-transparent border-0 d-flex gap-2 justify-content-end pt-3 pb-0"
        >
          <h4 class="btn btn-sm btn-secondary m-0">Nest.js</h4>
          <h4 class="btn btn-sm btn-secondary m-0">Typescript</h4>
        </div>
        <div class="card-body">
          <h2>Artisan API</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
        <img
          src="/images/artisan-dashboard.png"
          class="card-img-bottom"
          alt="..."
        />
      </article>

      <article
        class="spotlight-card card shadow text-white border-0 w-100"
      >
        <div
          class="card-header bg-transparent border-0 d-flex gap-2 justify-content-end pt-3 pb-0"
        >
          <h4 class="btn btn-sm btn-primary m-0">React</h4>
          <h4 class="btn btn-sm btn-primary m-0">Radix UI</h4>
          <h4 class="btn btn-sm btn-primary m-0">Zustand</h4>
        </div>
        <div class="card-body">
          <h2>Artisan Dashboard</h2>
          <p class="card-text">
            Modern administrative dashboard for product management and
            authentication. Built with React 19, TypeScript, Tailwind CSS,
            and Vite.
          </p>
        </div>
        <img
          src="https://images.pexels.com/photos/8761047/pexels-photo-8761047.jpeg"
          class="card-img-bottom"
          alt="..."
        />
      </article>
    </div>
  </div>
</section>
